@import url("../estilo.css");

#titulo{
    font-size: 20px;
    font-family: "Verdana";
}

#entrada{
    margin:0 auto;
    position: relative;	
    padding-top: 20px;	
    width:95%;
}

ul#menu { 
    margin: 0; /* retira o recuo para alguns browsers */
    padding:0; /* retira o recuo para outros browsers */
    list-style-type: none; /* retira o marcador de listas*/     
}
ul#menu li {
    border-bottom:1px solid #a4a0f5;     /* coloca uma  borda azul entre links */   
    display: inline;
}

ul#menu li a:link {
    text-decoration: none; /* retira o sublinhado dos links */ 
    font-family: Geneva, Arial, Helvetica, sans-serif; /* define o tipo de fonte */ 
    font-size:14px; /* define o tamanho da fonte */ 
    color:#5e0f50; /* define a cor da fonte */ 
}

ul#menu li a:hover {
    background-color: #FFE4B5; /* cor do fundo */
    color: #DAA520; /* cor da fonte */
    display:inline; 
}

.meus_dados{
    color: blue;
}

td{
    font-size: 12px;    
}



