@import url("../estilo.css");

#meus_dados_admin{
    background-color: #9CF;
    color: black;    
    font-family: "Verdana";
    font-size: 15px;
}

#titulo_admin{
    font-size: 20px;
    font-family: "Verdana";
}

#menu_admin { 
    margin: 0; /* retira o recuo para alguns browsers */
    padding:0; /* retira o recuo para outros browsers */
    list-style-type: none; /* retira o marcador de listas*/         
}

#menu_admin li{
    border-bottom:1px solid #a4a0f5;     /* coloca uma  borda azul entre links */   
    display: inline;    
    min-width: 400px;    
}
#menu_admin li a{
    text-decoration: none; /* retira o sublinhado dos links */ 
}

#menu_admin li a:link {
    text-decoration: none; /* retira o sublinhado dos links */ 
    font-family: Geneva, Arial, Helvetica, sans-serif; /* define o tipo de fonte */ 
    font-size:14px; /* define o tamanho da fonte */ 
    color:#5e0f50; /* define a cor da fonte */     
}

#menu_admin li a:hover {
    background-color: #FFE4B5; /* cor do fundo */
    color: #DAA520; /* cor da fonte */
    display:inline; 
    text-decoration: none; /* retira o sublinhado dos links */ 
}


.texto{

}

#entrada{
    margin:0 auto;
    position: relative;	
    padding-top: 20px;	
    width: 50%;    
}

#entrada button{
    width:100px;
}

#rodape{
    padding-top: 50px;
}

#abertos_entrada{
    margin:0 auto;
    position: relative;	
    padding-top: 20px;	
    width: 95%;
}

#historico_entrada{
    margin:0 auto;
    position: relative;	
    padding-top: 20px;	
    width: 95%;
}

#usuarios_entrada{
    margin:0 auto;
    position: relative;	
    padding-top: 20px;	
    width: 95%;
}

#andamento_entrada{
    margin:0 auto;
    position: relative;	
    padding-top: 20px;	
    width: 95%;
}

#mostrarDados{
    margin:0 auto;
    position: relative;	
    background-color: #CCC;
    max-width: 500px;        
    border-width: medium;
    border-style: solid;
    border-color: #CCC;
}

.caixa_registros{
    margin:0 auto;
    position: relative;	
    background-color: #CCC;
    width: 400px;    
    border-width: medium;
    border-style: solid;
    border-color: #CCC;
}